<p style="color: green"><%= notice %></p>

<h1>Músicas</h1>

<div id="musicas">
  <% @musicas.each do |musica| %>
    <%= render musica %>
    <p>
      <%= link_to "Mostrar esta música", musica %>
    </p>
  <% end %>
</div>

<%= link_to "Nova música", new_musica_path %>
