<p style="color: green"><%= notice %></p>

<h1>Artista</h1>

<div id="artista">
  <% @artista.each do |artistum| %>
    <%= render artistum %>
    <p>
      <%= link_to "Mostrar este artista", artistum %>
    </p>
  <% end %>
</div>

<%= link_to "Novo artista", new_artistum_path %>
