<h1>Editar integrante</h1>

<%= render "form", integrante: @integrante %>

<br>

<div>
  <%= link_to "Mostrar este integrante", @integrante %> |
  <%= link_to "Voltar para integrantes", integrantes_path %>
</div>
