<h1>Editing integrante</h1>

<%= render "form", integrante: @integrante %>

<br>

<div>
  <%= link_to "Show this integrante", @integrante %> |
  <%= link_to "Back to integrantes", integrantes_path %>
</div>
