<p style="color: green"><%= notice %></p>

<h1>Integrantes</h1>

<div id="integrantes">
  <% @integrantes.each do |integrante| %>
    <%= render integrante %>
    <p>
      <%= link_to "Mostrar este integrante", integrante %>
    </p>
  <% end %>
</div>

<%= link_to "Novo integrante", new_integrante_path %>
