<p style="color: green"><%= notice %></p>

<h1>Integrantes</h1>

<div id="integrantes">
  <% @integrantes.each do |integrante| %>
    <%= render integrante %>
    <p>
      <%= link_to "Show this integrante", integrante %>
    </p>
  <% end %>
</div>

<%= link_to "New integrante", new_integrante_path %>
