<div id="<%= dom_id album %>">
  <p>
    <strong>Título:</strong>
    <%= album.titulo %>
  </p>

  <p>
    <strong>Data de lançamento:</strong>
    <%= album.data_lancamento.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= album.artista_id %>
  </p>

</div>
