<div id="<%= dom_id album %>">
  <p>
    <strong>Titulo:</strong>
    <%= album.titulo %>
  </p>

  <p>
    <strong>Data lancamento:</strong>
    <%= album.data_lancamento %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= album.artista_id %>
  </p>

</div>
