<p style="color: green"><%= notice %></p>

<h1>Álbuns</h1>

<div id="albums">
  <% @albums.each do |album| %>
    <%= render album %>
    <p>
      <%= link_to "Mostrar este álbum", album %>
    </p>
  <% end %>
</div>

<%= link_to "Novo álbum", new_album_path %>
