<p style="color: green"><%= notice %></p>

<h1>Contratos</h1>

<div id="contratos">
  <% @contratos.each do |contrato| %>
    <%= render contrato %>
    <p>
      <%= link_to "Mostrar este contrato", contrato %>
    </p>
  <% end %>
</div>

<%= link_to "Novo contrato", new_contrato_path %>