<h1>Editar funcionário</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
  <%= link_to "Mostrar este funcionário", @funcionario %> |
  <%= link_to "Voltar para funcionários", funcionarios_path %>
</div>
