<p style="color: green"><%= notice %></p>

<h1>Funcionários</h1>

<div id="funcionarios">
  <% @funcionarios.each do |funcionario| %>
    <%= render funcionario %>
    <p>
      <%= link_to "Mostrar este funcionário", funcionario %>
    </p>
  <% end %>
</div>

<%= link_to "Novo funcionário", new_funcionario_path %>
